.vagrant
ansible/galaxy-roles
ansible/playbook.retry
application/vendor
application/htdocs/assets/*
!application/htdocs/assets/.gitkeep
application/protected/runtime/*
!application/protected/runtime/.gitkeep
